.editor-container {
  border: 1px solid gray;
  padding: 10px;
}

.editor-container .active-process-marker {
  border: 1px solid lightskyblue;
}

.completions-container {
  background-color: red;
}

.completions-container .selected-item {
  background-color: blue;
}
