.editor-container {
  border: 1px solid gray;
  padding: 10px;
}

.editor-container .active-process-marker {
  border: 1px solid lightskyblue;
}

.editor-container .entity-marker {
  background-color: lightskyblue;
}

.completions-container {
  background-color: gray;
}

.completions-container .selected-item {
  background-color: darkgray;
}
